@page
@model AboutModel
@{ ViewData["Title"] = "About"; }
<h2>@ViewData["Title"]</h2>
<!DOCTYPE HTML>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

</head>
<body>
    <div class="content">
        <div class="services">
            <div class="container">
                <div class="service-grids">
                    <div class="col-md-4 service-grid">
                        <img src="~/images/image_12.jpg" class="img-responsive" alt="" />
                        <h4>Замена масла</h4>
                    </div>
                    <div class="col-md-4 service-grid">
                        <img src="~/images/image_15.jpg" class="img-responsive" alt="" />
                        <h4>Ремонт тормозов</h4>
                    </div>
                    <div class="col-md-4 service-grid">
                        <img src="~/images/image_17.jpg" class="img-responsive" alt="" />
                        <h4>Замена шин</h4>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="service-grids1">
                    <div class="col-md-4 service-grid">
                        <img src="~/images/diag.jpg" class="img-responsive" alt="" />
                        <h4>Диагностика</h4>
                    </div>
                    <div class="col-md-4 service-grid">
                        <img src="~/images/belts.jpg" class="img-responsive" alt="" />
                        <h4>Замена ремней</h4>
                    </div>
                    <div class="col-md-4 service-grid">
                        <img src="~/images/dvig.jpg" class="img-responsive" alt="" />
                        <h4>Ремонт подкапотного пространства</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 align="center">
                Прайс лист
            </h1>
        </div>


    </div>
    <table align="center" style="display:block; height:600px; width:500px; overflow:auto;">
        <thead><tr><th><h3>Наименование ремонта, услуги</h3></th><th><h3>Цена от (грн.)</h3></th></tr></thead>
        <tbody>
            <tr>
                <th colspan="2"><h4>Мотор и коробка передач</h4></th>
            </tr>
            <tr>
                <td>
                    <a> Замена масла в двигателе</a>
                </td>
                <td>80 грн.</td>
            </tr>
            <tr><td>Промывка двигателя</td><td>50 грн.</td></tr>
            <tr><td>Замена масла в МКПП</td><td>80 грн.</td></tr>
            <tr><td>Замена масла в АКПП</td><td>250 грн.</td></tr>
            <tr><td>Замена масла в заднем мосту</td><td>80 грн.</td></tr>
            <tr><td>Замена масла в переднем мосту / раздатке</td><td>80 грн.</td></tr>
            <tr><td>Снятие установка защиты двигателя</td><td>40 грн.</td></tr>
            <tr><td>Замена ремня гидроусилителя</td><td>40 грн.</td></tr>
            <tr><td>Замена ремня кондиционера</td><td>40 грн.</td></tr>
            <tr><td>Замена ремня генератора</td><td>40 грн.</td></tr>
            <tr><td>Замена ремня ГРМ</td><td>400 грн.</td></tr>
            <tr><td>Замена сальника коленвала заднего</td><td>700 грн.</td></tr>
            <tr><td>Замена помпы</td><td>300 грн.</td></tr>
            <tr><td>Замена радиатора охлаждения двигателя</td><td>200 грн.</td></tr>
            <tr><td>Замена радиатора охлаждения кондиционера</td><td>600 грн.</td></tr>
            <tr><td>Замена патрубка системы охлаждения</td><td>50 грн.</td></tr>
            <tr><td>Замена термостата</td><td>200 грн.</td></tr>
            <tr><td>Замена стартера</td><td>180 грн.</td></tr>
            <tr><td>Замена генератора</td><td>200 грн.</td></tr>
            <tr><td>Замена подушки двигателя</td><td>70 грн.</td></tr>
            <tr><td>Замена турбокомпрессора</td><td>800 грн.</td></tr>
            <tr><td>Замена элементов выхлопной системы</td><td>100 грн.</td></tr>
            <tr><td>Регулировка клапанов</td><td>250 грн.</td></tr>
            <tr><td>Снятие и установка КПП</td><td>700 грн.</td></tr>
            <tr><td>Замена комплекта сцепления</td><td>800 грн.</td></tr>
            <tr><td>Замена рабочего цилиндра сцепления</td><td>150 грн.</td></tr>
            <tr><td>Прокачка сцепления</td><td>80 грн.</td></tr>
            <tr>
                <th colspan="2"><h4>Ходовая (передняя подвеска)</h4></th>
            </tr>
            <tr><td>Диагностика  ходовой части (автодиагностика)</td><td>70 грн.</td></tr>
            <tr><td>Замена стойки стабилизатора</td><td>60 грн.</td></tr>
            <tr><td>Замена втулки стабилизатора</td><td>50 грн.</td></tr>
            <tr><td>Замена маятника</td><td>170 грн.</td></tr>
            <tr><td>Замена рулевого наконечника</td><td>80 грн.</td></tr>
            <tr><td>Замена шаровой опоры (верхней)</td><td>90 грн.</td></tr>
            <tr><td>Замена шаровой опоры (нижней)</td><td>90 грн.</td></tr>
            <tr><td>Замена рычага (верхнего)</td><td>150 грн.</td></tr>
            <tr><td>Замена рычага (нижнего)</td><td>180 грн.</td></tr>
            <tr><td>Замена сайлентблоков рычага</td><td>40 грн.</td></tr>
            <tr><td>Замена рулевой тяги</td><td>80 грн.</td></tr>
            <tr><td>Регулировка подшипника ступицы</td><td>50 грн.</td></tr>
            <tr><td>Замена подшипника ступицы</td><td>180 грн.</td></tr>
            <tr><td>Замена передней ступицы (поворотного кулака)</td><td>250 грн.</td></tr>
            <tr><td>Замена втулки амортизатора</td><td>120 грн.</td></tr>
            <tr><td>Замена пружины</td><td>120 грн.</td></tr>
            <tr><td>Замена амортизатора</td><td>130 грн.</td></tr>
            <tr><td>Замена стойки телескопической</td><td>200 грн.</td></tr>
            <tr><td>Замена пружины стойки</td><td>200 грн.</td></tr>
            <tr>
                <th colspan="2"><h4>Ходовая (задняя подвеска)</h4></th>
            </tr>
            <tr><td>Замена задней балки</td><td>500 грн.</td></tr>
            <tr><td>Замена заднего моста</td><td>750 грн.</td></tr>
            <tr><td>Замена рычага</td><td>160 грн.</td></tr>
            <tr><td>Замена сайлентблоков рычага</td><td>40 грн.</td></tr>
            <tr><td>Замена стойки стабилизатора</td><td>60 грн.</td></tr>
            <tr><td>Замена втулок стабилизатора</td><td>50 грн.</td></tr>
            <tr><td>Замена реактивной тяги</td><td>130 грн.</td></tr>
            <tr><td>Замена втулки реактивной тяги</td><td>50 грн.</td></tr>
            <tr><td>Регулировка подшипника ступицы</td><td>50 грн.</td></tr>
            <tr><td>Замена подшипника ступицы</td><td>180 грн.</td></tr>
            <tr><td>Замена подшипника полуоси</td><td>250 грн.</td></tr>
            <tr><td>Замена полуоси</td><td>300 грн.</td></tr>
            <tr><td>Замена амортизатора</td><td>110 грн.</td></tr>
            <tr><td>Замена стойки телескопической</td><td>220 грн.</td></tr>
            <tr><td>Замена втулок амортизатора</td><td>50 грн.</td></tr>
            <tr><td>Замена пружины</td><td>100 грн.</td></tr>
            <tr><td>Замена пружины амортизатора</td><td>220 грн.</td></tr>
            <tr><td>Замена карданного вала</td><td>150 грн.</td></tr>
            <tr><td>Замена крестовины кард. вала</td><td>250 грн.</td></tr>
            <tr><td>Замена подвесного подшипника</td><td>260 грн.</td></tr>
            <tr><td>Замена эластичной муфты</td><td>320 грн.</td></tr>
            <tr><td>Замена шруса</td><td>180 грн.</td></tr>
            <tr><td>Замена пыльников шруса</td><td>180 грн.</td></tr>
            <tr>
                <th colspan="2"><h4>Тормозная система</h4></th>
            </tr>
            <tr><td>Прокачка тормозной системы</td><td>150 грн.</td></tr>
            <tr><td>Замена тормозных шлангов</td><td>50 грн.</td></tr>
            <tr><td>Замена тормозных трубок</td><td>70 грн.</td></tr>
            <tr><td>Замена  тормозных колодок</td><td>80 грн.</td></tr>
            <tr><td>Замена тормозных колодок барабанных</td><td>140 грн.</td></tr>
            <tr><td>Регулировка ручного тормоза</td><td>70 грн.</td></tr>
            <tr><td>Замена колодок ручного тормоза</td><td>160 грн.</td></tr>
            <tr><td>Замена троса ручного тормоза</td><td>130 грн.</td></tr>
            <tr><td>Замена суппорта</td><td>150 грн.</td></tr>
            <tr><td>Замена рабочего тормозного цилиндра</td><td>80 грн.</td></tr>
            <tr><td>Замена главного тормозного цилиндра</td><td>250 грн.</td></tr>
            <tr><td>Замена вакуумного усилителя</td><td>250 грн.</td></tr>
            <tr><td>Замена тормозного диска 2шт</td><td>120 грн.</td></tr>
            <tr><td>Профилактика суппорта</td><td>50 грн.</td></tr>
            <tr><td>Замена тормозной жидкости</td><td>150 грн.</td></tr>
            <tr>
                <th colspan="2"><h4>Топливопровод и инжектор</h4></th>
            </tr>
            <tr><td>Замена топливного фильтра погружаемого в бензобак</td><td>200 грн.</td></tr>
            <tr>
                <td>Замена топливного фильтра, не погружаемого в бензобак</td>
                <td rowspan="2">
                    100 грн.
                </td>
            </tr>
            <tr><td>(установленного на днище автомобиля)</td></tr>
            <tr>
                <td>Замена топливного фильтра, не погружаемого в бензобак</td>
                <td rowspan="2">
                    60 грн.
                </td>
            </tr>
            <tr><td>(установленного в моторном отсеке)</td></tr>
            <tr><td>Замена бензонасоса погружаемого в бензобак</td><td>350 грн.</td></tr>
            <tr><td>Замена бензонасоса установленного на двигателе</td><td>180 грн.</td></tr>
            <tr><td>Замена бензонасоса установленного на днище автомобиля</td><td>180 грн.</td></tr>
            <tr>
                <th colspan="2"><h4>Развал-схождение</h4></th>
            </tr>
            <tr><td>Легковой автомобиль передняя ось</td><td>200 грн.</td></tr>
            <tr><td>Легковой автомобиль передняя и задняя ось</td><td>250 грн.</td></tr>
            <tr><td>Джип и грузовой автомобиль</td><td>300-350 грн.</td></tr>
            <tr><td>Автобус</td><td>350 грн.</td></tr>
            <tr>
                <th colspan="2"><h4>Система кондиционирования</h4></th>
            </tr>
            <tr><td>Заправка кондиционера</td><td>400 грн.</td></tr>
            <tr><td>Антибактериальная обработка</td><td>250 грн.</td></tr>
        </tbody>
    </table>
</body>
</html>
