@page
@model ContactModel
@{ ViewData["Title"] = "Contact"; }
<h2>@ViewData["Title"]</h2>

<!DOCTYPE HTML>
<html>
<head>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <link rel="stylesheet" type="text/css" href="~/style1.css">
</head>
<body>
    <div class="content">
        <div class="contact">
            <div class="container">
                <div class="google-map">
                    <iframe src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Kharkov+(%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=B&amp;output=embed" width="1100" height="400"></iframe>
                </div>
            </div>
            <div class="theme-page padding-bottom-66">
                <div class="clearfix">
                    <div class="row page-margin-top">
                        <div class="column column-1-3">
                            <ul class="features-list">
                                <li>
                                    <h5>Звоните нам сейчас</h5>
                                    <div class="icon sl-small-phone-circle"></div>
                                    <p>
                                        Тел: (520) 577 2710<br>
                                        Эвакуатор: (520) 577 2725<br>

                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="column column-1-3">
                            <ul class="features-list">
                                <li>
                                    <h5>CAR SERVICE</h5>
                                    <div class="icon sl-small-location-map"></div>
                                    <p>
                                        Харьков, Украины<br>
                                        Пр. Науки 5<br>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="column column-1-3">
                            <ul class="features-list">
                                <li>
                                    <h5>24/7 Помощь</h5>
                                    <div class="icon sl-small-truck-tow"></div>
                                    <p>Вызов эвакуатора в любое время суток</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
